<!DOCTYPE html>
<html lang="hu">

<%- include('partials/head.ejs', { title: 'Online Napló' }) %>

    <body>
        <header>
            <a href="index.html">Online Napló</a>
            <nav>
                <a href="addSubject.html">
                    <p>Tantárgy hozzáadása</p>
                </a>
            </nav>
        </header>

        <% if (subjects.length) { %>
            <h1>Tantárgyak</h1>
            <table>
                <thead>
                    <tr>
                        <th>Tantárgy ID</th>
                        <th>Tantárgy Név</th>
                        <th>Leírás</th>
                        <th>Felelős</th>
                        <th>Feladatok</th>
                        <th>Törlés</th>
                    </tr>
                </thead>
                <tbody>
                    <% subjects.forEach((subject)=> { %>

                        <tr>
                            <td>
                                <%= subject.SubjID %>
                            </td>
                            <td>
                                <%= subject.SubjName %>
                            </td>
                            <td>
                                <%= subject.SubjDesc %>
                            </td>
                            <td>
                                <%= subject.UserID %>
                            </td>
                            <td>
                                <form action="/showAssignments" method="GET">
                                    <button name="id" value="<%= subject.SubjID %>" type="submit">
                                        <a>Megtekint</a>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="/deleteSubject?id=<%= subject.SubjID %>" method="POST">
                                    <button name="delButton" type="submit">
                                        <a>Töröl!</a>
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <% }) %>

                </tbody>
            </table>
            <% } else { %>
                <h1>Nincs megjelenítendő tantárgy!</h1>
                <% } %>

                    <% if (errorMsg) {%>
                        <p class="errormsg">
                            <%= errorMsg %>
                        </p>
                        <% } %>

    </body>

</html>